[train]
    name=mnist_darts_temp_lower
    dataset=mnist
    batch_size=32
    layers=1
    init_channels=8
    epochs=50
    validate_split=0.5
    controller_class=models.cnn.search_cnn.SearchCNNController
    validation_top_k=5
    simple_alpha_update=0
    alpha_lr=0.001 
    input_channels = 1
    n_classes = 10
    n_nodes = 4
    stem_multiplier = 3
    use_gs = 0
    initial temp = 1.0
    delta = -0.016

    
    
[fine-tune]
    name=mnist_darts
    dataset=mnist
    batch_size=32
    layers=3
    init_channels=8
    epochs=3
    validate_split=0.5
    controller_class=models.cnn.search_cnn.SearchCNNController
    validation_top_k=5
    simple_alpha_update=0
    alpha_lr=0.001 
    input_channels = 1
    n_classes = 10
    n_nodes = 4
    stem_multiplier = 3
# 28.0, 98.5
